<launch>	
	        <!--  ************** Move Base ***************  -->
	        
	<node name="map_server" pkg="map_server" type="map_server" args="$(find agv_DLM)/maps/layout.yaml"/>
	<node name="amcl" pkg="amcl" type="amcl" args="-d $(find agv_DLM)/cfg/amcl_params.yaml" required="true" />
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find agv_dlm)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find agv_dlm)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find agv_dlm)/cfg/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find agv_dlm)/cfg/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find agv_dlm)/cfg/dwa_local_planner_params.yaml" command="load" />

		<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

      		<param name="clearing_rotation_allowed" value="true" /> <!-- Nox is able to rotate in place -->
	</node>
	
</launch>
